{% extends "base.html" %}

{% block patient %}

{% include 'person_card.html' %}

<link rel="stylesheet" href="{{ url_for('bp_person.static', filename="patient.css") }}">


<div class="stories-container">

    {% for story in patient["stories"] %}

    <div class="story">
        <div class="story-header">
            <div class="story-info">
                <div class="story-upper-line">
                    <div class="story-dates">
                        <span class="story-reg-date">
                            {{ story["reg_date"] }}
                        </span>
                        <div class="story-arrow">⟶</div>
                        <span class="story-discharge-date">
                            {% if story["discharge_date"] %}
                                {{ story["discharge_date"] }}
                            {% else %}
                                По настоящий момент
                            {% endif %}
                        </span>
                    </div>
                    <div class="story-location">
                        Палата
                        {{ story["location"] }}
                    </div>
                </div>
                <div class="story-lower-line">
                    <span class="story-diagnosis">
                        Диагноз: {{ story["diagnosis"] }}
                    </span>
                    <a class="story-doctor" href="/person/{{ story["login"] }}">
                        Лечащий врач:
                        {{ story["surname"] }}
                        {{ story["name"][0] }}.
                        {% if story["patronymic"] %}
                        {{ story["patronymic"][0] }}.
                        {% endif %}
                    </a>
                </div>
            </div>
            <img src="{{ story["image"] }}" alt="Фото лечащего врача" class="story-doctor-image">
        </div>

        <div class="surveys-container">

            {% for survey in story["surveys"] %}

            <div class="survey">
                <div class="survey-upper-line">
                    <span class="survey-date">
                        {{ survey["date"] }}
                    </span>
                    <span class="survey-doctor">
                        {{ survey["surname"] }}
                        {{ survey["name"] }}.
                        {% if survey["patronymic"] %}
                        {{ survey["patronymic"] }}.
                        {% endif %}
                    </span>
                </div>
                <div class="prescriptions">
                    {{ survey["prescriptions"] }}
                </div>
            </div>

            {% endfor %}

        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}
