{% extends "base.html" %}

{% block person %}

{% include 'person_card.html' %}

<link rel="stylesheet" href="{{ url_for('bp_person.static', filename="person.css") }}">


<div class="stories-container">

    {% if person["role"] == "patient" %}
        {% if person["stories"]|length != 0 %}
            <div class="story-title">Все истории болезни пациента</div>
        {% else %}
            <div class="story-title">Пациент никогда не содержался в госпитале</div>
        {% endif %}
    {% elif person["role"] == "doctor" %}
        <div class="story-title">Истории болезни, в которых врач принимал участие</div>
    {% endif %}

    {% for story in person["stories"] %}

    <div class="story flowing">

        {% if person["role"] == "patient" %}


        <div class="story-header">
            <div class="story-info">
                <div class="story-upper-line">
                    <div class="story-dates">
                        <span class="story-reg-date">
                            {{ story["reg_date"] }}
                        </span>
                        <div class="story-arrow">⟶</div>
                        <span class="story-discharge-date">
                            {% if story["discharge_date"] %}
                                {{ story["discharge_date"] }}
                            {% else %}
                                По настоящий момент
                            {% endif %}
                        </span>
                    </div>
                    <div class="story-location">
                        Палата
                        {{ story["location"] }}
                    </div>
                </div>
                <div class="story-lower-line">
                    <span class="story-diagnosis">
                        Диагноз: {{ story["diagnosis"] }}
                    </span>
                    <a class="story-doctor" href="/person/{{ story["login"] }}">
                        Лечащий врач:
                        {{ story["surname"] }}
                        {{ story["name"][0] }}.
                        {% if story["patronymic"] %}
                        {{ story["patronymic"][0] }}.
                        {% endif %}
                    </a>
                </div>
            </div>
            <img src="{{ story["image"] }}" alt="Фото лечащего врача" class="story-image">
        </div>


        {% elif person["role"] == "doctor" %}

        <div class="story-header">
            <div class="story-info">
                <div class="story-upper-line">
                    <div class="story-dates">
                        <span class="story-reg-date">
                            {{ story["reg_date"] }}
                        </span>
                        <div class="story-arrow">⟶</div>
                        <span class="story-discharge-date">
                            {% if story["discharge_date"] %}
                                {{ story["discharge_date"] }}
                            {% else %}
                                По настоящий момент
                            {% endif %}
                        </span>
                    </div>
                    <span class="story-diagnosis">
                        Диагноз: {{ story["diagnosis"] }}
                    </span>
                    <a class="story-location" href="/ward/{{ story["id_department"] }}-{{ story["id_ward"] }}">
                        Палата
                        {{ story["location"] }}
                    </a>
                </div>
                <div class="story-lower-line">
                    <a class="story-doctor" href="/person/{{ story["login"] }}">
                        Лечащий врач:
                        {{ story["surname"] }}
                        {{ story["name"][0] }}.
                        {% if story["patronymic"] %}
                            {{ story["patronymic"][0] }}.
                        {% endif %}
                    </a>
                    <a class="story-patient" href="/person/{{ story["patient_login"] }}">
                        Пациент:
                        {{ story["patient_surname"] }}
                        {{ story["patient_name"][0] }}.
                        {% if story["patient_patronymic"] %}
                            {{ story["patient_patronymic"][0] }}.
                        {% endif %}
                    </a>
                </div>
            </div>
            <img src="{{ story["patient_image"] }}" alt="Фото пациента" class="story-image {% if story["id_doctor"] == person["id_doctor"] and person["role"] == "doctor" %} accent {% endif %}">
        </div>

        {% endif %}


        {% if story["surveys"] %}

            <div class="surveys-title">Проведенные осмотры:</div>
            <div class="surveys-container">

                {% for survey in story["surveys"] %}

                    <div class="survey {% if survey["id_doctor"] == person["id_doctor"] and person["role"] == "doctor" %} accent {% endif %}">
                        <div class="survey-upper-line">
                            <span class="survey-date">
                                Дата осмотра: {{ survey["date"] }}
                            </span>
                            <span class="survey-doctor">
                                Осматривающий:
                                {{ survey["surname"] }}
                                {{ survey["name"] }}
                                {% if survey["patronymic"] %}
                                    {{ survey["patronymic"] }}
                                {% endif %}
                            </span>
                        </div>
                        <div class="prescriptions">
                            {{ survey["prescriptions"] }}
                        </div>
                    </div>

                {% endfor %}

            </div>

        {% else %}

            <div class="no-surveys">
                Нет информации о проведенных осмотрах
            </div>

        {% endif %}

    </div>

    {% endfor %}

</div>

{% endblock %}
