{% extends "base.html" %}

{% block ward %}

    <link rel="stylesheet" href="{{ url_for('bp_ward.static', filename='ward.css') }}">

<div class="title-block">
    {% if ward %}

    <div class="main-info">
        <span class="ward-number">{{ ward[0]["id_department"] }}-{{ ward[0]["id_ward"] }}, </span>

    {% if ward[0]["wtype"] == "VIP" %}
        <span class="vip-badge">VIP </span>
    {% endif %}
        {{ ward[0]["department_name"] }} отделение, {{ ward[0]["floor"] }} этаж.
    </div>

    <div class="occupancy">{{ ward[0]["occupancy"] }}/{{ ward[0]["capacity"] }}</div>

    {% else %}
        Информации о палате не найдено

    {% endif %}
</div>

    <div class="patients-title">Пациенты</div>

<div class="patient-list">
{% for patient in ward %}
    
    <a class="patient-card">
        <img src="{{ patient["image"] }}" alt="" class="patient-photo">
        <div class="patient-info">
            <div class="patient-name">{{ patient["surname"] }} {{ patient["name"] }} {% if patient["patronymic"] %} {{ patient["patronymic"] }} {% endif %}</div>
            <div class="patient-sex-and-birth-date">{{ patient["sex"] }}, {{ patient["birth_date"] }}</div>
            <div class="patient-diagnosis">Диагноз: {{ patient["diagnosis"] }}</div>
            <div class="patient-doctor">Лечащий врач: {{ patient["doctor_surname"] }} {{ patient["doctor_name"][0] }}. {% if patient["doctor_patronymic"] %} {{ patient["doctor_patronymic"] }}. {% endif %}</div>
            <div class="patient-reg-date">Дата поступления: {{ patient["reg_date"] }}</div>
        </div>
    </a>
    
{% endfor %}
</div>

{% endblock %}
