{% extends "base.html" %}

{% block ward %}

    <link rel="stylesheet" href="{{ url_for('bp_ward.static', filename='ward.css') }}">

<div class="title-block">
    {% if ward %}

    <div class="main-info">
    {{ ward["id_department"] }}-{{ ward["id_ward"] }}

    {% if ward["wtype"] == "VIP" %}
        <span class="vip-badge">VIP</span>
    {% endif %}

    - {{ ward["department_name"] }}, {{ ward["floor"] }} этаж.
    </div>

    <div class="occupancy">{{ ward["occupancy"] }}/{{ ward["capacity"] }}</div>

    {% else %}
        Информации о палате не найдено

    {% endif %}
</div>

{% endblock %}
