.person-card {
    /*outline: 2px solid green;*/
    display: grid;
    grid-template-columns: 135px 3fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 5px;
    border-radius: inherit;
    position: relative;
    box-shadow: 0 1px .625rem 0 hsla(210, 7%, 0%, .26), 0 .125rem .25rem 0 hsla(210, 7%, 22%, .08);
}

.person-card > * {
    /*outline: 1px solid cyan;*/
    /*position: relative;*/
}


.title-image {
    grid-row-start: 1;
    grid-row-end: 3;
    width: 135px;
    height: 100px;
    object-fit: cover;
    border-radius: inherit;
    /*padding: 10px;*/
}

.title-name {
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: flex-end;
    font-size: 1.25rem;
}

.title-login {
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: flex-start;
    color: gray;
}

.title-location {
    position: absolute;
    right: 0;
    top: 0;
    background: #12c712;
    padding: 5px 10px 5px 10px;
    border-top-right-radius: inherit;
    border-bottom-left-radius: inherit;
    font-size: 0.8rem;
    color: white !important;
}



.title-role {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #028502;
    padding: 5px 10px 5px 10px;
    color: white;
    font-size: 0.8rem;
    border-bottom-right-radius: inherit;
    border-top-left-radius: inherit;
}

.title-patient {
    background: blue;
}

.title-doctor {
    background: green;
}

.title-registrator {
    background: #ff9a00;
}

.title-admin {
    background: red;
}