.main-title {
    font-size: 1.6rem;
    font-weight: 800;
}

.department-container {
    border-radius: inherit;
}

.doctors-container, .wards-container {
    padding: 15px;
    border-radius: inherit;
    box-shadow: 0 1px .625rem 0 hsla(210, 7%, 0%, .6), 0 .125rem .25rem 0 hsla(210, 7%, 22%, .08);
}

.department-title {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: 500;
    /*margin-bottom: 20px;*/
}

.department-block {
    width: 100%;
    /*outline: 1px solid pink;*/
    margin-top: 10px;
    /*display: grid;*/
    /*grid-template-rows: 100px;*/
    margin-bottom: 40px;
    border-radius: inherit;
}

.department-name {
    font-size: 1.5rem;
}

.ward-block {
    max-width: 100%;
    /*outline: 5px solid #c531ff;*/
    box-shadow: 0 1px .625rem 0 hsla(210, 7%, 0%, .16), 0 .125rem .25rem 0 hsla(210, 7%, 22%, .08);
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    font-weight: 700;
    font-size: 1rem;
    margin: 5px;
}

.ward-number {
    display: flex;
    align-items: center;
}

.vip-badge {
    font-size: 0.55rem;
    font-weight: 700;
    color: white;
    background: #ffc11b;
    border-radius: 3px;
    padding: 3px 7px 3px 7px;
    margin: 7px;
}

.department-head {

}

.doctor-block {
    max-width: 100%;
    /*outline: 5px solid #c531ff;*/
    box-shadow: 0 1px .625rem 0 hsla(210, 7%, 0%, .16), 0 .125rem .25rem 0 hsla(210, 7%, 22%, .08);
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    font-weight: 700;
    font-size: 1rem;
    margin: 5px;
}

.mid-title {
    font-weight: 500;
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 10px;
}

.head-title {
    margin-top: 10px;
}

.doctors-title {
    margin-top: 10px;
}

.doctor-block, .ward-block {
    background: rgba(255, 255, 255, 0.82);
}
