.title-block {
    width: 100%;
    /*outline: 1px solid red;*/
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    /*font-weight: 400;*/
    /*align-items: center;*/
}

.title-block > * {
    /*outline: 1px solid lime;*/
}

.main-info, .occupancy {
    display: flex;
    align-items: center;
}

.ward-number, .occupancy {
    font-weight: 600;
    color: #16af00;
}

.ward-number {
    margin-right: 0.5rem;
}

.vip-badge {
    font-size: 0.65rem;
    font-weight: 700;
    color: white;
    background: #ffc11b;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    margin: 5px;
}



.patients-title {
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 500;
}



.patient-list {
    display: grid;
    grid-template-rows: 100px;
    margin-top: 10px;
    grid-row-gap: 15px;
    font-size: 0.9rem;
    border-radius: inherit;
    padding: 7px;
}

.patient-card {
    display: grid;
    grid-template-columns: 150px 1fr;
    /*outline: 1px solid red;*/
    border-radius: inherit;
    box-shadow: 0 1px .625rem 0 hsla(210, 7%, 0%, .16), 0 .125rem .25rem 0 hsla(210, 7%, 22%, .08);
}

.patient-photo {
    object-fit: cover;
    width: 150px;
    height: 100px;
    border-radius: inherit;
    /*margin-right: 100px;*/
    /*width: 100px;*/
}

.patient-info {
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-weight: 500;
    padding: 20px;
}

.patient-diagnosis {
    grid-column-start: 1;
    grid-column-end: 3;
}

.patient-sex-and-birth-date {
    justify-self: right;
    grid-column-start: 2;
}

.patient-reg-date {
    grid-column-start: 2;
    justify-self: right;
}

.patient-card * {
    /*outline: 1px solid blue;*/
}
