<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication</title>
    <link href="static/style.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="login-card-container">
        <div class="login-card">
            <div class="login-card-logo">
                <img src="static/bmstu.png" alt="logo">
            </div>
            <div class="login-card-title title">Авторизация</div>
            <div class="login-card-title">Войдите для использования платформы</div>
            <form class="login-card-form" method="POST" action="">
                <div class="form-item">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                           <circle cx="12" cy="7" r="4"></circle>
                           <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                        </svg>
                    </span>
                    <input type="text" id="login" name="login" placeholder="Логин">
                </div>
                <div class="form-item">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-tabler icon-tabler-key" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                           <path d="M16.555 3.843l3.602 3.602a2.877 2.877 0 0 1 0 4.069l-2.643 2.643a2.877 2.877 0 0 1 -4.069 0l-.301 -.301l-6.558 6.558a2 2 0 0 1 -1.239 .578l-.175 .008h-1.172a1 1 0 0 1 -.993 -.883l-.007 -.117v-1.172a2 2 0 0 1 .467 -1.284l.119 -.13l.414 -.414h2v-2h2v-2l2.144 -2.144l-.301 -.301a2.877 2.877 0 0 1 0 -4.069l2.643 -2.643a2.877 2.877 0 0 1 4.069 0z"></path>
                           <path d="M15 9h.01"></path>
                        </svg>
                    </span>
                    <input type="password" name="password" id="password" placeholder="Пароль">
                </div>
                <div class="form-item">
                    <button type="submit" class="login-button">Войти</button>
                </div>
                <div class="choosing form-item">
                    <button class="patient" onclick="as_patient()">Как пациент</button>
                    <button class="doctor" onclick="as_doctor()">Как сотрудник</button>
                    <div class="moving-bg"></div>
                </div>
            </form>
        </div>

        <div class="message">
          <h2>{{ message }}</h2>
        </div>

        <img src="static/shrek.png" alt="shrek" class="shrek">
    </div>



</body>
</html>