
body {
    font-family: "Montserrat", sans-serif;
    /*min-height: 100vh;*/
    /*width: 100vw;*/
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #ffa4a4, #afffd0);
    font-weight: 600;
}

input {
    font-family: inherit;
    font-weight: inherit;
    border: none;
}

.content {
    display: grid;
    grid-row-gap: 20px;
    /*width: 85%;*/
}


.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 1fr 1fr;*/
    grid-gap: 15px;
    border-radius: inherit;
}

.info > label {
    display: grid;
    /*grid-template-rows: 1rem;*/
    grid-row-gap: 5px;
    /*outline: 1px solid cyan;*/
    border-radius: inherit;
}

label > input {
    padding: 8px 10px 8px 10px;
    border-radius: inherit;
    min-width: 30%;
    border: 1px solid #c9c9c9;
    /*background: linear-gradient(to right, #e0eeff, #f3eefa);*/
    background: #efefef;
    font-weight: 500;
}

.field-name {
    color: gray;
    font-size: 0.7rem;
    align-items: flex-end;
    /*outline: 1px solid red;*/
    max-height: 0.7rem;
}





