.main-title {
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.mid-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.make-survey-block {
    border: 2px solid black;
    border-radius: inherit;
}

.patient-selection {
    /*font-family: "Montserrat", sans-serif;*/
    /*!*border-radius: 5px;*!*/
    /*padding: 10px;*/
    /*width: 100%;*/
    /*border: none;*/
    /*border-bottom: 1px solid gray;*/
}

.survey-text-input {
    background: transparent;
    height: 5rem;
    width: 100%;
    padding: 15px;
    font-weight: 500;
    font-size: 0.9rem;
    word-wrap: break-word;
    outline: none;
    border: none;
}

.make-survey-button {
    background: #3535ff;
    color: white;
    width: 100%;
    /*border-left-style: hidden;*/
    /*outline: none !important;*/
    border-radius: inherit;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 10px;
}



.patients-container {
    width: 100%;
    /*outline: 1px solid red;*/
    margin-top: 20px;
    border-radius: inherit;
}

.patients-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 10px;
}


.wrapping-link {
    border-radius: inherit;
}

.patient-container {
    border-radius: inherit;
    border: 2px solid black;
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-column-gap: 10px;
    margin-bottom: 20px;
    /*margin: 10px;*/
}

.patient-container > .discharge-button {
    height: 100px;
    border-radius: inherit;
}

.patient-container > .patient-card {
    height: 100px;
    width: 100%;
    /*outline: 3px solid cyan;*/
    display: flex;
    align-items: center;
    /*margin-right: 10px;*/
    border-radius: inherit;
}

.patient-card > .patient-photo {
    height: 100px;
    width: 135px;
    object-fit: cover;
    border-radius: inherit;
}

.patient-card > .patient-info {
    /*outline: 1px solid red;*/
    min-width: 80%;
    /*height: 100%;*/
    margin-left: 20px;
    margin-right: 20px;
}

.patient-upper-line {
    display: flex;
    justify-content: space-between;
}

.patient-lower-line {
    /*width: 100%;*/
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.patient-login {
    color: #656464;
    margin-left: 20px;
}

.discharge-button {
    border: 2px solid #46df11;
    background: rgba(50, 206, 0, 0.89);
    color: white;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.discharge-button > .check {
    width: 30px;
}

.discharge-button > span {
    font-size: 0.7rem;
    font-weight: 600;
}


.add-story-block {
    display: grid;
    /*outline: 1px solid red;*/
    grid-template-rows: 40px 40px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    /*grid-template-columns: 1fr 1fr;*/
    border-radius: inherit;
}

.add-story-block > * {
    /*outline: 1px solid blue;*/
}


.add-story-button {
    grid-column-start: 1;
    grid-column-end: 3;
}

select, .diagnose-input {
    outline: none;
    border-radius: inherit;
    border: 1px solid black;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    padding: 5px;
}

.patient-selection {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
}

.add-story-button {
    background: #3535ff;
    color: white;
    border-radius: inherit;
    padding: 10px;
}


