<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>

<div class="container">
    <header class="header">
        <div class="header-inner-container">
            <a class="title" href="{{ url_for('bp_patient.main', user_login = session["login"]) }}">
                <img class="plus-icon" src="{{ url_for("bp_patient.static", filename="plus.png") }}">
                <div class="title-text">Hospital</div>
            </a>
            <a href="{{ url_for("bp_patient.settings", user_login = session["login"]) }}" class="user-info">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon settings-icon" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                   <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
                   <circle cx="12" cy="12" r="3"></circle>
                </svg>
                <span class="user-name">
                    {{ session["surname"] }}
                    {{ session["name"][0] }}.
                    {% if session["patronymic"][0] %}
                        {{ session["patronymic"][0] }}.
                    {% endif %}
                </span>
            </a>
            </div>
    </header>

    <div class="content">
        {% block settings %}{% endblock %}
        {% block patient %}{% endblock %}
        {% block ward %}{% endblock %}
    </div>
</div>



</body>
</html>