{% extends "base.html" %}

{% block dashboard %}

<title>Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">

<div class="main-title">Панель инструментов</div>



{% if session["role"] == "doctor" %}

<div class="make-survey-title mid-title">Провести осмотр</div>

<form class="make-survey-block" action="" method ="POST">
    <select name="id_patient" id="" class="patient-selection">
        {% for patient in active_patients %}
            <option value="{{ patient["id_patient"] }}">
                {{ patient["surname"] }}
                {{ patient["name"] }}
                {% if patient["patronymic"] %}
                    {{ patient["patronymic"] }}
                {% endif %}

                , Палата {{ patient["id_department"] }}-{{ patient["id_ward"] }},
                {{ patient["diagnosis"] }}
                {% if patient["story_doctor"] == session["id_doctor"] %}
                    <<========== Ваш пациент!
                {% endif %}
            </option>
        {% endfor %}
    </select>
    <textarea name="survey_text" placeholder="рекомендации и предписания" id="" cols="30" rows="10" class="survey-text-input"></textarea>
    <input type="submit" value="Отправить" class="make-survey-button">
    <input class="" type="hidden" name="is-survey-form" value="yes">
</form>


<div class="patients-container">
    <div class="patients-title">Ваши пациенты</div>
    {% for patient in doctor_active_patients %}
        <a href="/person/{{ patient["login"] }}" class="wrapping-link">
            <form class="patient-container flowing" action="" method ="POST">
                <div class="patient-card">
                    <img class="patient-photo" src="{{ patient["image"] }}">
                    <div class="patient-info">
                        <div class="patient-upper-line">
                            <span class="patient-name">
                                {{ patient["surname"] }}
                                {{ patient["name"] }}
                                {% if patient["patronymic"] %}
                                    {{ patient["patronymic"] }}
                                {% endif %}
                                <span class="patient-login">
                                    LOGIN: {{ patient["login"] }}
                                </span>
                            </span>
                            <span class="patient-location">
                                Палата {{ patient["location"] }}
                            </span>
                        </div>
                        <div class="patient-lower-line">
                            <span class="patient-diagnosis">
                                Диагноз: {{ patient["diagnosis"] }}
                            </span>
                            <span class="patient-reg-date">
                                Дата поступления: {{ patient["reg_date"] }}
                            </span>
                        </div>
                    </div>
                </div>

                <button name="id_patient" value="{{ patient["id_patient"] }}" class="discharge-button">
                    <svg xmlns="http://www.w3.org/2000/svg" class="check" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                       <path d="M5 12l5 5l10 -10"></path>
                    </svg>
                    <span>ВЫПИСАТЬ</span>
                </button>

                <input class="" type="hidden" name="is-discharge-form" value="yes">
            </form>
        </a>
    {% endfor %}
</div>



{% elif session["role"] == "registrator" %}

<div class="new-story-title mid-title">Добавить историю болезни</div>

<form class="add-story-block" action="" method ="POST">
    <select name="id_patient" id="" class="">
        {% for patient in patients %}
            <option value="{{ patient["id_patient"] }}">
                {{ patient["surname"] }}
                {{ patient["name"] }}
                {% if patient["patronymic"] %}
                    {{ patient["patronymic"] }}
                {% endif %}
                <span class="birth-date">{{ patient["birth_year"] }} г.р.</span>
            </option>
        {% endfor %}
    </select>
    <select name="id_doctor" id="" class="doctor-selection">
        {% for doctor in doctors %}
            <option value="{{ doctor["id_doctor"] }}">
                {{ doctor["surname"] }}
                {{ doctor["name"] }}
                {% if doctor["patronymic"] %}
                    {{ doctor["patronymic"] }}
                {% endif %},
                {{ doctor["specialization"] }}
                [
                {% if doctor["occupancy"] %}
                    {{ doctor["occupancy"] }}
                {% else %}
                    0
                {% endif %}
                Пациентов ]
            </option>
        {% endfor %}
    </select>
    <input type="text" class="diagnose-input" name="diagnosis" placeholder="Предварительный диагноз">
    <select name="id_ward" id="" class="ward-selection">
        {% for ward in wards %}
            <option value="{{ ward["id_ward"] }}">
                Палата
                {{ ward["id_department"] }}-{{ ward["id_ward"] }}
                [
                {% if ward["occupancy"] %}
                    {{ ward["occupancy"] }}
                {% else %}
                    0
                {% endif %}
                / {{ ward["capacity"] }}
                ]
            </option>
        {% endfor %}
    </select>

    <input type="submit" value="Отправить" class="add-story-button">
    <input class="" type="hidden" name="is-new-story-form" value="yes">
</form>

{% else %}

Панель инструментов для пациента в разработке

{% endif %}





{% endblock %}
